<!-- Newsletter -->
<div class="newsletter">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="newsletter_container d-flex flex-lg-row flex-column align-items-lg-center align-items-center justify-content-lg-start justify-content-center">
          <div class="newsletter_title_container">
            <div class="newsletter_icon"><img src="assets/images/send.png" alt=""></div>
            <div class="newsletter_title">Recibe las mejores ofertas</div>
            <div class="newsletter_text"><p>...encuentra descuentos y todas las novedades</p></div>
          </div>
          <div class="newsletter_content clearfix">
            <form action="#" class="newsletter_form">
              <input type="email" class="newsletter_input" required="required" placeholder="Ingresa tu correo electrónico">
              <button class="newsletter_button">Suscribete</button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="footer">
  <div class="container">
    <div class="row">

      <div class="col-lg-3 footer_col">
        <div class="footer_column footer_contact">
          <div class="logo_container">
            <div class="logo"><a href="#">Hemel</a></div>
          </div>
          <div class="footer_title">¿Tienes alguna duda? Contáctanos</div>
          <div class="footer_phone">+01 338 005 3570</div>
          <div class="footer_social">
            <ul>
              <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
              <li><a href="#"><i class="fab fa-twitter"></i></a></li>
            </ul>
          </div>
        </div>
      </div>

      <div class="col-lg-2 offset-lg-2">
        <div class="footer_column">
          <div class="footer_title">Servicio al cliente</div>
          <ul class="footer_list">
            <li><a href="#">Mi cuenta</a></li>
            <li><a href="#">Rastreo de Envío</a></li>
            <li><a href="#">Facturación electrónica</a></li>
            <li><a href="#">Términos y Condiciones</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-2">
        <div class="footer_column">
          <ul class="footer_list footer_list_2">
            <li><a href="#">Política de Devoliciones</a></li>
            <li><a href="#">Preguntas Frecuentes</a></li>
            <li><a href="#">Soporte de Productos</a></li>
            <li><a href="#">Evalúa nuestra atención</a></li>
          </ul>
        </div>
      </div>

      <div class="col-lg-2">
        <div class="footer_column">
          <div class="footer_title">Acerca de Nosotros</div>
          <ul class="footer_list">
            <li><a href="#">Hemel</a></li>
            <li><a href="#">Atención a proveedores</a></li>
            <li><a href="#">Mapa de Sitio</a></li>
            <li><a href="#">Contacto</a></li>
          </ul>
        </div>
      </div>

    </div>
  </div>
</footer>

<!-- Copyright -->
<div class="copyright">
  <div class="container">
    <div class="row">
      <div class="col">

        <div class="copyright_container d-flex flex-sm-row flex-column align-items-center justify-content-start">
          <div class="copyright_content">
            © 2018 Hemel. Todos los derechos reservados. <a href="#">Aviso de privacidad</a>. <a href="#">Políticas de devolución</a>. Front-end por <a href="https://colorlib.com" target="_blank">Colorlib</a>
          </div>
          <div class="logos ml-sm-auto">
            <ul class="logos_list">
              <li><a href="#"><img src="assets/images/logos_1.png" alt=""></a></li>
              <li><a href="#"><img src="assets/images/logos_2.png" alt=""></a></li>
              <li><a href="#"><img src="assets/images/logos_3.png" alt=""></a></li>
              <li><a href="#"><img src="assets/images/logos_4.png" alt=""></a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
