<!-- Brands -->
<div class="brands">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="brands_slider_container">

          <!-- Brands Slider -->

          <div class="owl-carousel owl-theme brands_slider">

            <div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img src="assets/images/marcas_1.png" alt=""></div></div>
            <div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img src="assets/images/marcas_2.png" alt=""></div></div>
            <div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img src="assets/images/marcas_3.png" alt=""></div></div>
            <div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img src="assets/images/marcas_4.png" alt=""></div></div>
            <div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img src="assets/images/marcas_5.png" alt=""></div></div>
            <div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img src="assets/images/marcas_6.png" alt=""></div></div>
            <div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img src="assets/images/marcas_7.png" alt=""></div></div>
            <div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img src="assets/images/marcas_8.png" alt=""></div></div>
            <div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img src="assets/images/marcas_9.png" alt=""></div></div>

          </div>

          <!-- Brands Slider Navigation -->
          <div class="brands_nav brands_prev"><i class="fas fa-chevron-left"></i></div>
          <div class="brands_nav brands_next"><i class="fas fa-chevron-right"></i></div>

        </div>
      </div>
    </div>
  </div>
</div>
