<!-- Banner -->
<div class="banner">
  <div class="banner_background" style="background-image:url(assets/images/banner_background.jpg)"></div>
  <div class="container fill_height">
    <div class="row fill_height">
      <div class="banner_product_image"><img src="assets/images/set.png" width="70%" alt=""></div>
      <div class="col-lg-5 offset-lg-4 fill_height">
        <div class="banner_content">
          <h1 class="banner_text">Todo a tu alcance</h1>
          <div class="banner_product_name">Encuentra las mejores <br>herramientas fácil y rápido</div>
          <div class="button banner_button"><a href="#">Compra</a></div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Hot New Arrivals -->
<div class="new_arrivals">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="tabbed_container">

          <div class="tabs clearfix tabs-right">
            <div class="new_arrivals_title">Nuevos Productos</div>
            <ul class="clearfix">
              <li class="active"></li>
            </ul>
            <div class="tabs_line"><span></span></div>
          </div>

          <div class="row">
            <div class="col-lg-9" style="z-index:1;">

              <!-- Product Panel -->
              <div class="product_panel panel active">
                <div class="arrivals_slider slider">

                  <!-- Slider Item 1 -->
                  <div class="arrivals_slider_item">
                    <div class="border_active"></div>
                    <div class="product_item is_new d-flex flex-column align-items-center justify-content-center text-center">
                      <div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="assets/images/nuevo_1.jpg" alt=""></div>
                      <div class="product_content">
                        <div class="product_price">$239.00</div>
                        <div class="product_name"><div><a href="#">Martillo de uña curva 16oz</a></div></div>
                        <div class="product_extras">
                          <div class="product_color">
                            <p>URREA<br>ID: URR16160</p>
                          </div>
                          <button class="product_cart_button">Agregar al carrito</button>
                        </div>
                      </div>
                      <ul class="product_marks">
                        <li class="product_mark product_new">new</li>
                      </ul>
                    </div>
                  </div>

                  <!-- Slider Item 2 -->
                  <div class="arrivals_slider_item">
                    <div class="border_active"></div>
                    <div class="product_item is_new d-flex flex-column align-items-center justify-content-center text-center">
                      <div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="assets/images/nuevo_2.jpg" alt=""></div>
                      <div class="product_content">
                        <div class="product_price">$340.00</div>
                        <div class="product_name"><div><a href="#">Probador circuitos LED</a></div></div>
                        <div class="product_extras">
                          <div class="product_color">
                            <p>URREA<br>ID: URR23501</p>
                          </div>
                          <button class="product_cart_button">Agregar al carrito</button>
                        </div>
                      </div>
                      <ul class="product_marks">
                        <li class="product_mark product_new">new</li>
                      </ul>
                    </div>
                  </div>

                  <!-- Slider Item 3 -->
                  <div class="arrivals_slider_item">
                    <div class="border_active"></div>
                    <div class="product_item is_new d-flex flex-column align-items-center justify-content-center text-center">
                      <div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="assets/images/nuevo_3.jpg" alt=""></div>
                      <div class="product_content">
                        <div class="product_price">$779.00</div>
                        <div class="product_name"><div><a href="#">Gato de patín compacto</a></div></div>
                        <div class="product_extras">
                          <div class="product_color">
                            <p>SURTEK<br>ID: SUR13700</p>
                          </div>
                          <button class="product_cart_button">Agregar al carrito</button>
                        </div>
                      </div>
                      <ul class="product_marks">
                        <li class="product_mark product_new">new</li>
                      </ul>
                    </div>
                  </div>

                  <!-- Slider Item 4 -->
                  <div class="arrivals_slider_item">
                    <div class="border_active"></div>
                    <div class="product_item is_new d-flex flex-column align-items-center justify-content-center text-center">
                      <div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="assets/images/nuevo_4.jpg" alt=""></div>
                      <div class="product_content">
                        <div class="product_price">$8199.00</div>
                        <div class="product_name"><div><a href="#">Atornillador de impacto</a></div></div>
                        <div class="product_extras">
                          <div class="product_color">
                            <p>MAKITA<br>ID: MAK154RFE</p>
                          </div>
                          <button class="product_cart_button">Agregar al carrito</button>
                        </div>
                      </div>
                      <ul class="product_marks">
                        <li class="product_mark product_new">new</li>
                      </ul>
                    </div>
                  </div>

                  <!-- Slider Item 5 -->
                  <div class="arrivals_slider_item">
                    <div class="border_active"></div>
                    <div class="product_item is_new d-flex flex-column align-items-center justify-content-center text-center">
                      <div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="assets/images/nuevo_5.jpg" alt=""></div>
                      <div class="product_content">
                        <div class="product_price">$380.00</div>
                        <div class="product_name"><div><a href="#">Moto-tool neum recto</a></div></div>
                        <div class="product_extras">
                          <div class="product_color">
                            <p>SURTEK<br>ID: SUR414MTN</p>
                          </div>
                          <button class="product_cart_button">Agregar al carrito</button>
                        </div>
                      </div>
                      <ul class="product_marks">
                        <li class="product_mark product_new">new</li>
                      </ul>
                    </div>
                  </div>

                  <!-- Slider Item 6 -->
                  <div class="arrivals_slider_item">
                    <div class="border_active"></div>
                    <div class="product_item is_new d-flex flex-column align-items-center justify-content-center text-center">
                      <div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="assets/images/nuevo_6.jpg" alt=""></div>
                      <div class="product_content">
                        <div class="product_price">$290.00</div>
                        <div class="product_name"><div><a href="#">Multimetro compacto <br>500VCD</a></div></div>
                        <div class="product_extras">
                          <div class="product_color">
                            <p>SURTEK<br>ID: SUR111001</p>
                          </div>
                          <button class="product_cart_button">Agregar al carrito</button>
                        </div>
                      </div>
                      <ul class="product_marks">
                        <li class="product_mark product_new">new</li>
                      </ul>
                    </div>
                  </div>

                  <!-- Slider Item 7 -->
                  <div class="arrivals_slider_item">
                    <div class="border_active"></div>
                    <div class="product_item is_new d-flex flex-column align-items-center justify-content-center text-center">
                      <div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="assets/images/nuevo_7.jpg" alt=""></div>
                      <div class="product_content">
                        <div class="product_price">$1449.00</div>
                        <div class="product_name"><div><a href="#">Rotomartillo 1/2"</a></div></div>
                        <div class="product_extras">
                          <div class="product_color">
                            <p>URREA<br>ID: URR819RMC</p>
                          </div>
                          <button class="product_cart_button">Agregar al carrito</button>
                        </div>
                      </div>
                      <ul class="product_marks">
                        <li class="product_mark product_new">new</li>
                      </ul>
                    </div>
                  </div>

                  <!-- Slider Item 8 -->
                  <div class="arrivals_slider_item">
                    <div class="border_active"></div>
                    <div class="product_item is_new d-flex flex-column align-items-center justify-content-center text-center">
                      <div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="assets/images/nuevo_8.jpg" alt=""></div>
                      <div class="product_content">
                        <div class="product_price">$1775.00</div>
                        <div class="product_name"><div><a href="#">Pulidora 7" 1200W</a></div></div>
                        <div class="product_extras">
                          <div class="product_color">
                            <p>SURTEK<br>ID: SUR607LPA</p>
                          </div>
                          <button class="product_cart_button">Agregar al carrito</button>
                        </div>
                      </div>
                      <ul class="product_marks">
                        <li class="product_mark product_new">new</li>
                      </ul>
                    </div>
                  </div>

                  <!-- Slider Item 9 -->
                  <div class="arrivals_slider_item">
                    <div class="border_active"></div>
                    <div class="product_item is_new d-flex flex-column align-items-center justify-content-center text-center">
                      <div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="assets/images/nuevo_9.jpg" alt=""></div>
                      <div class="product_content">
                        <div class="product_price">$1229.00</div>
                        <div class="product_name"><div><a href="#">Marro antichispa 2lb</a></div></div>
                        <div class="product_extras">
                          <div class="product_color">
                            <p>URREA<br>ID: URR66UHFG</p>
                          </div>
                          <button class="product_cart_button">Agregar al carrito</button>
                        </div>
                      </div>
                      <ul class="product_marks">
                        <li class="product_mark product_new">new</li>
                      </ul>
                    </div>
                  </div>

                  <!-- Slider Item 10 -->
                  <div class="arrivals_slider_item">
                    <div class="border_active"></div>
                    <div class="product_item is_new d-flex flex-column align-items-center justify-content-center text-center">
                      <div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="assets/images/nuevo_10.jpg" alt=""></div>
                      <div class="product_content">
                        <div class="product_price">$469.00</div>
                        <div class="product_name"><div><a href="#">Remachadora manual 10"</a></div></div>
                        <div class="product_extras">
                          <div class="product_color">
                            <p>URREA<br>ID: URR15UPS</p>
                          </div>
                          <button class="product_cart_button">Agregar al carrito</button>
                        </div>
                      </div>
                      <ul class="product_marks">
                        <li class="product_mark product_new">new</li>
                      </ul>
                    </div>
                  </div>

                  <!-- Slider Item 11 -->
                  <div class="arrivals_slider_item">
                    <div class="border_active"></div>
                    <div class="product_item is_new d-flex flex-column align-items-center justify-content-center text-center">
                      <div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="assets/images/nuevo_11.jpg" alt=""></div>
                      <div class="product_content">
                        <div class="product_price">$3199.00</div>
                        <div class="product_name"><div><a href="#">Clavadora Calibre 16</a></div></div>
                        <div class="product_extras">
                          <div class="product_color">
                            <p>DEWALT<br>ID: D51257K</p>
                          </div>
                          <button class="product_cart_button">Agregar al carrito</button>
                        </div>
                      </div>
                      <ul class="product_marks">
                        <li class="product_mark product_new">new</li>
                      </ul>
                    </div>
                  </div>

                  <!-- Slider Item 12 -->
                  <div class="arrivals_slider_item">
                    <div class="border_active"></div>
                    <div class="product_item is_new d-flex flex-column align-items-center justify-content-center text-center">
                      <div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="assets/images/nuevo_12.jpg" alt=""></div>
                      <div class="product_content">
                        <div class="product_price">$190.00</div>
                        <div class="product_name"><div><a href="#">Cuchillo dentado</a></div></div>
                        <div class="product_extras">
                          <div class="product_color">
                            <p>URREA<br>ID: URR684</p>
                          </div>
                          <button class="product_cart_button">Agregar al carrito</button>
                        </div>
                      </div>
                      <ul class="product_marks">
                        <li class="product_mark product_new">new</li>
                      </ul>
                    </div>
                  </div>

                  <!-- Slider Item 13 -->
                  <div class="arrivals_slider_item">
                    <div class="border_active"></div>
                    <div class="product_item is_new d-flex flex-column align-items-center justify-content-center text-center">
                      <div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="assets/images/nuevo_13.jpg" alt=""></div>
                      <div class="product_content">
                        <div class="product_price">$110.00</div>
                        <div class="product_name"><div><a href="#">Arco de segueta</a></div></div>
                        <div class="product_extras">
                          <div class="product_color">
                            <p>SURTEK<br>ID: SUR17A</p>
                          </div>
                          <button class="product_cart_button">Agregar al carrito</button>
                        </div>
                      </div>
                      <ul class="product_marks">
                        <li class="product_mark product_new">new</li>
                      </ul>
                    </div>
                  </div>

                  <!-- Slider Item 14 -->
                  <div class="arrivals_slider_item">
                    <div class="border_active"></div>
                    <div class="product_item is_new d-flex flex-column align-items-center justify-content-center text-center">
                      <div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="assets/images/nuevo_14.jpg" alt=""></div>
                      <div class="product_content">
                        <div class="product_price">$90.00</div>
                        <div class="product_name"><div><a href="#">Caja de herramientas 12"</a></div></div>
                        <div class="product_extras">
                          <div class="product_color">
                            <p>SURTEK<br>ID: SUR125071</p>
                          </div>
                          <button class="product_cart_button">Agregar al carrito</button>
                        </div>
                      </div>
                      <ul class="product_marks">
                        <li class="product_mark product_new">new</li>
                      </ul>
                    </div>
                  </div>

                  <!-- Slider Item 15 -->
                  <div class="arrivals_slider_item">
                    <div class="border_active"></div>
                    <div class="product_item is_new d-flex flex-column align-items-center justify-content-center text-center">
                      <div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="assets/images/nuevo_15.jpg" alt=""></div>
                      <div class="product_content">
                        <div class="product_price">$5500.00</div>
                        <div class="product_name"><div><a href="#">Cepillo 1050W"</a></div></div>
                        <div class="product_extras">
                          <div class="product_color">
                            <p>MAKITA<br>ID: KP0810C</p>
                          </div>
                          <button class="product_cart_button">Agregar al carrito</button>
                        </div>
                      </div>
                      <ul class="product_marks">
                        <li class="product_mark product_new">new</li>
                      </ul>
                    </div>
                  </div>

                  <!-- Slider Item 16 -->
                  <div class="arrivals_slider_item">
                    <div class="border_active"></div>
                    <div class="product_item is_new d-flex flex-column align-items-center justify-content-center text-center">
                      <div class="product_image d-flex flex-column align-items-center justify-content-center"><img src="assets/images/nuevo_16.jpg" alt=""></div>
                      <div class="product_content">
                        <div class="product_price">$140.00</div>
                        <div class="product_name"><div><a href="#">Martillo de Bola 16oz</a></div></div>
                        <div class="product_extras">
                          <div class="product_color">
                            <p>STANLEY<br>ID: STAN1731</p>
                          </div>
                          <button class="product_cart_button">Agregar al carrito</button>
                        </div>
                      </div>
                      <ul class="product_marks">
                        <li class="product_mark product_new">new</li>
                      </ul>
                    </div>
                  </div>

                </div>
                <div class="arrivals_slider_dots_cover"></div>
              </div>

            </div>

            <div class="col-lg-3">
              <div class="arrivals_single clearfix">
                <div class="d-flex flex-column align-items-center justify-content-center">
                  <div class="arrivals_single_image"><img src="assets/images/nuevo_single.jpg" alt=""></div>
                  <div class="arrivals_single_content">
                    <div class="arrivals_single_category"><a href="#">Herramientas de Poder</a></div>
                    <div class="arrivals_single_name_container clearfix">
                      <div class="arrivals_single_price">$1500</div>
                      <div class="arrivals_single_name"><a href="#">Taladro 2-Velocidades</a></div>
                    </div>
                    <div class="arrivals_single_id">
                      <p>MAKITA<br>ID: MAK011DP4</p>
                    </div>
                    <form action="#"><button class="arrivals_single_button">Agregar al carrito</button></form>
                  </div>
                  <ul class="arrivals_single_marks product_marks">
                    <li class="arrivals_single_mark product_mark product_new">new</li>
                  </ul>
                </div>
              </div>
            </div>

          </div>

        </div>
      </div>
    </div>
  </div>
</div>

<!-- Best Sellers -->
<div class="best_sellers">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="tabbed_container">
          <div class="tabs clearfix tabs-right">
            <div class="new_arrivals_title">Más Vendidos</div>
            <ul class="clearfix">
              <li class="active"></li>
            </ul>
            <div class="tabs_line"><span></span></div>
          </div>

          <div class="bestsellers_panel panel active">

            <!-- Best Sellers Slider -->

            <div class="bestsellers_slider slider">

              <!-- Best Sellers Item 1 -->
              <div class="bestsellers_item discount">
                <div class="bestsellers_item_container d-flex flex-row align-items-center justify-content-start">
                  <div class="bestsellers_image"><img src="assets/images/nuevo_15.jpg" alt=""></div>
                  <div class="bestsellers_content">
                    <div class="bestsellers_category"><a href="#">Herramientas de Poder</a></div>
                    <div class="bestsellers_name"><a href="#">Cepillo 1050W"</a></div>
                    <div class="bestsellers_id"><p>MAKITA<br>ID: KP0810C</p></div>
                    <div class="bestsellers_price discount">$5500.00<span>$6000.00</span></div>
                  </div>
                </div>
                <ul class="bestsellers_marks">
                  <li class="bestsellers_mark bestsellers_discount">-25%</li>
                </ul>
              </div>

              <!-- Best Sellers Item 2 -->
              <div class="bestsellers_item discount">
                <div class="bestsellers_item_container d-flex flex-row align-items-center justify-content-start">
                  <div class="bestsellers_image"><img src="assets/images/mejor_1.jpg" alt=""></div>
                  <div class="bestsellers_content">
                    <div class="bestsellers_category"><a href="#">Seguetas y Corte</a></div>
                    <div class="bestsellers_name"><a href="#">Cortador de Vidrio</a></div>
                    <div class="bestsellers_id"><p>STANLEY<br>ID: STA1396</p></div>
                    <div class="bestsellers_price discount">$52.00<span>$69.00</span></div>
                  </div>
                </div>
                <div class="bestsellers_fav"><i class="fas fa-heart"></i></div>
                <ul class="bestsellers_marks">
                  <li class="bestsellers_mark bestsellers_discount">-25%</li>
                  <li class="bestsellers_mark bestsellers_new">new</li>
                </ul>
              </div>

              <!-- Best Sellers Item 3 -->
              <div class="bestsellers_item discount">
                <div class="bestsellers_item_container d-flex flex-row align-items-center justify-content-start">
                  <div class="bestsellers_image"><img src="assets/images/mejor_7.jpg" alt=""></div>
                  <div class="bestsellers_content">
                    <div class="bestsellers_category"><a href="#">Herramientas Manuales</a></div>
                    <div class="bestsellers_name"><a href="#">Pinzas 6 en 1</a></div>
                    <div class="bestsellers_id"><p>MILWAUKEE<br>ID: MIL910503</p></div>
                    <div class="bestsellers_price discount">$502.00<span>$571.00</span></div>
                  </div>
                </div>
                <ul class="bestsellers_marks">
                  <li class="bestsellers_mark bestsellers_discount">-12%</li>
                </ul>
              </div>

              <!-- Best Sellers Item 4 -->
              <div class="bestsellers_item discount">
                <div class="bestsellers_item_container d-flex flex-row align-items-center justify-content-start">
                  <div class="bestsellers_image"><img src="assets/images/mejor_3.jpg" alt=""></div>
                  <div class="bestsellers_content">
                    <div class="bestsellers_category"><a href="#">Jardinería</a></div>
                    <div class="bestsellers_name"><a href="#">Soplador inalámbrico</a></div>
                    <div class="bestsellers_id"><p>EVANS<br>ID: EVA200B18</p></div>
                    <div class="bestsellers_price discount">$2090.00<span>$2899.00</span></div>
                  </div>
                </div>
                <div class="bestsellers_fav"><i class="fas fa-heart"></i></div>
                <ul class="bestsellers_marks">
                  <li class="bestsellers_mark bestsellers_discount">-28%</li>
                  <li class="bestsellers_mark bestsellers_new">new</li>
                </ul>
              </div>

              <!-- Best Sellers Item 5 -->
              <div class="bestsellers_item discount">
                <div class="bestsellers_item_container d-flex flex-row align-items-center justify-content-start">
                  <div class="bestsellers_image"><img src="assets/images/mejor_4.jpg" alt=""></div>
                  <div class="bestsellers_content">
                    <div class="bestsellers_category"><a href="#">Jardinería</a></div>
                    <div class="bestsellers_name"><a href="#">Podadora de corte 20"</a></div>
                    <div class="bestsellers_id"><p>EVANS<br>ID: EVA0500E</p></div>
                    <div class="bestsellers_price discount">$3707.00<span>$4811.00</span></div>
                  </div>
                </div>
                <div class="bestsellers_fav"><i class="fas fa-heart"></i></div>
                <ul class="bestsellers_marks">
                  <li class="bestsellers_mark bestsellers_discount">-23%</li>
                  <li class="bestsellers_mark bestsellers_new">new</li>
                </ul>
              </div>

              <!-- Best Sellers Item 6 -->
              <div class="bestsellers_item">
                <div class="bestsellers_item_container d-flex flex-row align-items-center justify-content-start">
                  <div class="bestsellers_image"><img src="assets/images/mejor_5.jpg" alt=""></div>
                  <div class="bestsellers_content">
                    <div class="bestsellers_category"><a href="#">Herrería</a></div>
                    <div class="bestsellers_name"><a href="#">Cautin pistola 30-60W</a></div>
                    <div class="bestsellers_id"><p>SURTEK<br>ID: SUR112503</p></div>
                    <div class="bestsellers_price discount">$199.00</div>
                  </div>
                </div>
              </div>

              <!-- Best Sellers Item 7 -->
              <div class="bestsellers_item">
                <div class="bestsellers_item_container d-flex flex-row align-items-center justify-content-start">
                  <div class="bestsellers_image"><img src="assets/images/mejor_6.jpg" alt=""></div>
                  <div class="bestsellers_content">
                    <div class="bestsellers_category"><a href="#">Herrería</a></div>
                    <div class="bestsellers_name"><a href="#">Clavadora Neumatica 10-15mm</a></div>
                    <div class="bestsellers_id"><p>GONI<br>ID: GON603</p></div>
                    <div class="bestsellers_price discount">$750.00</div>
                  </div>
                </div>
              </div>

              <!-- Best Sellers Item 8 -->
              <div class="bestsellers_item">
                <div class="bestsellers_item_container d-flex flex-row align-items-center justify-content-start">
                  <div class="bestsellers_image"><img src="assets/images/mejor_2.jpg" alt=""></div>
                  <div class="bestsellers_content">
                    <div class="bestsellers_category"><a href="#">Plomería</a></div>
                    <div class="bestsellers_name"><a href="#">Termostato a Pared de Lavabo</a></div>
                    <div class="bestsellers_id"><p>URREA<br>ID: URR464822</p></div>
                    <div class="bestsellers_price discount">$9500.00</div>
                  </div>
                </div>
              </div>

              <!-- Best Sellers Item 9 -->
              <div class="bestsellers_item discount">
                <div class="bestsellers_item_container d-flex flex-row align-items-center justify-content-start">
                  <div class="bestsellers_image"><img src="assets/images/mejor_8.png" alt=""></div>
                  <div class="bestsellers_content">
                    <div class="bestsellers_category"><a href="#">Jardinería</a></div>
                    <div class="bestsellers_name"><a href="#">Desmalezadora Recta 48"</a></div>
                    <div class="bestsellers_id"><p>EVANS<br>ID: EVA25CMDR</p></div>
                    <div class="bestsellers_price discount">$3490.00<span>$4111.00</span></div>
                  </div>
                </div>
                <div class="bestsellers_fav"><i class="fas fa-heart"></i></div>
                <ul class="bestsellers_marks">
                  <li class="bestsellers_mark bestsellers_discount">-15%</li>
                  <li class="bestsellers_mark bestsellers_new">new</li>
                </ul>
              </div>

              <!-- Best Sellers Item 10 -->
              <div class="bestsellers_item">
                <div class="bestsellers_item_container d-flex flex-row align-items-center justify-content-start">
                  <div class="bestsellers_image"><img src="assets/images/mejor_10.jpg" alt=""></div>
                  <div class="bestsellers_content">
                    <div class="bestsellers_category"><a href="#">Herramientas Manuales</a></div>
                    <div class="bestsellers_name"><a href="#">Desatornillador de Golpe Punta #1 3/16"</a></div>
                    <div class="bestsellers_id"><p>URREA<br>ID: URR112235</p></div>
                    <div class="bestsellers_price discount">$76.50</div>
                  </div>
                </div>
              </div>

              <!-- Best Sellers Item 11 -->
              <div class="bestsellers_item">
                <div class="bestsellers_item_container d-flex flex-row align-items-center justify-content-start">
                  <div class="bestsellers_image"><img src="assets/images/mejor_11.jpg" alt=""></div>
                  <div class="bestsellers_content">
                    <div class="bestsellers_category"><a href="#">Herramientas Manuales</a></div>
                    <div class="bestsellers_name"><a href="#">Llaves de Tubo 12" Largo</a></div>
                    <div class="bestsellers_id"><p>STANLEY<br>ID: STA87623</p></div>
                    <div class="bestsellers_price discount">$530.50</div>
                  </div>
                </div>
              </div>

              <!-- Best Sellers Item 12 -->
              <div class="bestsellers_item">
                <div class="bestsellers_item_container d-flex flex-row align-items-center justify-content-start">
                  <div class="bestsellers_image"><img src="assets/images/mejor_12.jpg" alt=""></div>
                  <div class="bestsellers_content">
                    <div class="bestsellers_category"><a href="#">Herramientas Manuales</a></div>
                    <div class="bestsellers_name"><a href="#">Cortadores de pernos 927,1mm</a></div>
                    <div class="bestsellers_id"><p>KLEINTOOLS<br>ID: KLE63136</p></div>
                    <div class="bestsellers_price discount">$980.50</div>
                  </div>
                </div>
              </div>

            </div>
          </div>

        </div>

      </div>
    </div>
  </div>
</div>

<!-- Adverts -->
<div class="adverts">
  <div class="container">
    <div class="row">

      <div class="col-lg-4 advert_col">

        <!-- Advert Item -->

        <div class="advert d-flex flex-row align-items-center justify-content-start">
          <img src="assets/images/ad-words.jpg" alt="ad-words">
        </div>
      </div>

      <div class="col-lg-4 advert_col">

        <!-- Advert Item -->

        <div class="advert d-flex flex-row align-items-center justify-content-start">
          <img src="assets/images/ad-words.jpg" alt="ad-words">
        </div>
      </div>

      <div class="col-lg-4 advert_col">

        <!-- Advert Item -->

        <div class="advert d-flex flex-row align-items-center justify-content-start">
          <img src="assets/images/ad-words.jpg" alt="ad-words">
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Banner -->
<div class="banner_2">
  <div class="banner_2_background" style="background-image:url(assets/images/banner_2_background.jpg)"></div>
  <div class="banner_2_container">
    <div class="banner_2_dots"></div>
    <!-- Banner 2 Slider -->

    <div class="owl-carousel owl-theme banner_2_slider">

      <!-- Banner 2 Slider Item -->
      <div class="owl-item">
        <div class="banner_2_item">
          <div class="container fill_height">
            <div class="row fill_height">
              <div class="col-lg-4 col-md-6 fill_height">
                <div class="banner_2_content">
                  <div class="banner_2_category">Herramientas de Poder</div>
                  <div class="banner_2_title">Paquete Makita</div>
                  <div class="banner_2_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fermentum laoreet.</div>
                  <div class="button banner_2_button"><a href="#">Más Información</a></div>
                </div>

              </div>
              <div class="col-lg-8 col-md-6 fill_height">
                <div class="banner_2_image_container">
                  <div class="banner_2_image"><img src="assets/images/banner_makita.png" alt=""></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Banner 2 Slider Item -->
      <div class="owl-item">
        <div class="banner_2_item">
          <div class="container fill_height">
            <div class="row fill_height">
              <div class="col-lg-4 col-md-6 fill_height">
                <div class="banner_2_content">
                  <div class="banner_2_category">Herramientas de Poder</div>
                  <div class="banner_2_title">Paquete Milwaukee</div>
                  <div class="banner_2_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fermentum laoreet.</div>
                  <div class="button banner_2_button"><a href="#">Más Información</a></div>
                </div>

              </div>
              <div class="col-lg-8 col-md-6 fill_height">
                <div class="banner_2_image_container">
                  <div class="banner_2_image"><img src="assets/images/banner_milwaukee.png" alt=""></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Banner 2 Slider Item -->
      <div class="owl-item">
        <div class="banner_2_item">
          <div class="container fill_height">
            <div class="row fill_height">
              <div class="col-lg-4 col-md-6 fill_height">
                <div class="banner_2_content">
                  <div class="banner_2_category">Herramientas de Poder</div>
                  <div class="banner_2_title">Paquete DeWalt</div>
                  <div class="banner_2_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas fermentum laoreet.</div>
                  <div class="button banner_2_button"><a href="#">Más Información</a></div>
                </div>

              </div>
              <div class="col-lg-8 col-md-6 fill_height">
                <div class="banner_2_image_container">
                  <div class="banner_2_image"><img src="assets/images/banner_dewalt.png" alt=""></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<!-- Brands -->
<div class="brands">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="brands_slider_container">

          <!-- Brands Slider -->

          <div class="owl-carousel owl-theme brands_slider">

            <div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img src="assets/images/marcas_1.png" alt=""></div></div>
            <div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img src="assets/images/marcas_2.png" alt=""></div></div>
            <div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img src="assets/images/marcas_3.png" alt=""></div></div>
            <div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img src="assets/images/marcas_4.png" alt=""></div></div>
            <div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img src="assets/images/marcas_5.png" alt=""></div></div>
            <div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img src="assets/images/marcas_6.png" alt=""></div></div>
            <div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img src="assets/images/marcas_7.png" alt=""></div></div>
            <div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img src="assets/images/marcas_8.png" alt=""></div></div>
            <div class="owl-item"><div class="brands_item d-flex flex-column justify-content-center"><img src="assets/images/marcas_9.png" alt=""></div></div>

          </div>

          <!-- Brands Slider Navigation -->
          <div class="brands_nav brands_prev"><i class="fas fa-chevron-left"></i></div>
          <div class="brands_nav brands_next"><i class="fas fa-chevron-right"></i></div>

        </div>
      </div>
    </div>
  </div>
</div>
